
._global_style_
{
	font-size: 12px !important;
	font-family: courier !important;
	text-size-adjust: none !important;

}

.global_resp
{
	/* global_resp 는 body 에 추가된 클래스 입니다. */

}

/*가로모드*/
@media screen and (orientation: landscape)
{
	.global_resp
	{
	}
}

/*ios*/
@supports (-webkit-overflow-scrolling: touch)
{
}

/*tablet*/
@media screen and (min-width:641px)
{
}

.search_input_focus
{
    outline: none !important; /* 기본 포커스 테두리 제거 */
}

.service_icon_type_more:active
{
	outline: none !important;              /* 클릭 시 테두리 제거 */
    background: transparent !important;    /* 클릭 시 배경색 제거 */
}

